{% extends 'base.html' %}
{% block content %}
<h1>Home </h1>
{% if todos %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Completed</th>
                <th scope="col">Created At</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            {% if todo.completed %}
                <tr class="table-success">
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.completed }}</td>
                    <td>{{ todo.created_at }}</td>
                    <td><a href="{% url 'update' todo.id %}">Update</a></td>
                    <td><a href="{% url 'delete' todo.id %}">Delete</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.completed }}</td>
                    <td>{{ todo.created_at }}</td>
                    <td><a href="{% url 'update' todo.id %}">Update</a></td>
                    <td><a href="{% url 'delete' todo.id %}">Delete</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'adicionar_todo' %}" class="btn btn-primary mt-3">Adicionar nova linha</a>
{% else %}
    <p>Não há tarefas. <br>
     <a href="{% url 'adicionar_todo' %}" class="btn btn-primary mt-3">Adicione</a></p>

{% endif %}
{% endblock %}
